fastapi~=0.135.1
requests>=2.33.0
uvicorn~=0.41.0
huggingface-hub~=0.24.0
pydantic~=2.12.5
aiocache~=0.12.2
pydantic-settings~=2.13.1
markdown2>=2.5.1
aiohttp>=3.13.3
pytest>=9.0.3
aiobotocore~=2.5.0
aiofiles~=23.2.0
python-multipart~=0.0.22
python-jose[cryptography]>=3.5.0
passlib[bcrypt]~=1.7.4
bcrypt~=4.0.1
httpx~=0.28.1
matplotlib~=3.7.0
pandas~=2.3.3
pytest-asyncio>=1.0.0
tuspyserver~=4.1.0
redis>=6.4.0
pyyaml~=6.0
